.container {display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    }
    
    button {margin: 20px;
    height: 45px;
    background-color: rgb(62, 104, 62);
    border: none;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 4px;}
    
 .output {
        text-align: center;
    }

input {
    height: 50px;
    width: 200px;
    margin: 10px;
    border: solid 1px black;
    }

img {width: 400px;
        height: 400px;
        object-fit: contain;}
        

label {display: flex; flex-direction: row;
width: 400px; align-items: center;
justify-content: space-between;}